openapi: "3.0.0"
info:
  title: "OpenStreetMap"
  description: "This is an OpenAPI definition for the API to interact with the OpenStreetMap database. This is not official documentation, and should be used only for ease-of-use purposes. It is not comprehensive, and may contain errors."
  version: "0.6"
  termsOfService: "https://operations.osmfoundation.org/policies/api/"
  license:
    name: "ISC License"
    url: "https://github.com/bryceco/GoMap/blob/master/LICENSE.md"
servers:
  - url: https://api.openstreetmap.org/api/0.6
    description: Production server (uses live data)
  - url: https://master.apis.dev.openstreetmap.org/api/0.6
    description: Sandbox server (uses test data)
tags:
  - name: "map"
    description: "Operations related to map data"
  - name: "user"
    description: "Everything on the user"
  - name: "misc"
    description: "Meta-information on the API and the server"
  - name: "changeset"
    description: "Operations related to changesets"
  - name: "element"
    description: "Operations related to elements"
paths:
  /capabilities:
    $ref: "./paths/api_capabilities.yaml"
  /map:
    $ref: "./paths/map_boundingBox.yaml"
  /permissions:
    $ref: "./paths/api_permissions.yaml"
  /user/details.json:
    $ref: "./paths/user_details.yaml"
  /changeset/create:
    $ref: "./paths/changeset_create.yaml"
  /changeset/{id}:
    $ref: "./paths/changeset_base.yaml"
  /changeset/{id}.json:
    $ref: "./paths/changeset_json.yaml"
  /changeset/{id}/close:
    $ref: "./paths/changeset_close.yaml"
  /{element}:
    $ref: "./paths/element_base.yaml"
  /{element}/{id}:
    $ref: "./paths/element_id.yaml"
  /{element}/{id}/history:
    $ref: "./paths/element_history.yaml"
  /{element}/{id}/{version}:
    $ref: "./paths/element_version.yaml"
  /{element}/{id}/full:
    $ref: "./paths/element_full.yaml"
components:
  securitySchemes:
    oauth2-implementation:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.openstreetmap.org/oauth2/authorize
          tokenUrl: https://www.openstreetmap.org/oauth2/token
          scopes:
            write_api: Read and write access to map data
            read_prefs: Read access to user preferences
            openid: OpenID authentication
  schemas:
    APICapabilities:
      $ref: "./schemas/APICapabilities.yaml"
    APICapabilitiesResponse:
      $ref: "./schemas/APICapabilitiesResponse.yaml"
    APIPermission:
      $ref: "./schemas/APIPermission.yaml"
    APIStatus:
      $ref: "./schemas/APIStatus.yaml"
    APIVersionsResponse:
      $ref: "./schemas/APIVersionsResponse.yaml"
    Changeset:
      $ref: "./schemas/Changeset.yaml"
    Node:
      $ref: "./schemas/Node.yaml"
    OSMResponse:
      $ref: "./schemas/OSMResponse.yaml"
    Relation:
      $ref: "./schemas/Relation.yaml"
    User:
      $ref: "./schemas/User.yaml"
    UserDetailsResponse:
      $ref: "./schemas/UserDetailsResponse.yaml"
    Way:
      $ref: "./schemas/Way.yaml"
externalDocs:
  description: "Find the official documentation on the OSM wiki"
  url: "https://wiki.openstreetmap.org/wiki/API_v0.6"
